<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Orc.AutomaticSupport.Tests\Orc.AutomaticSupport.Tests.NET40\packages.config" />
  <repository path="..\src\Orc.AutomaticSupport.Tests\Orc.AutomaticSupport.Tests.NET45\packages.config" />
  <repository path="..\src\Orc.AutomaticSupport.Tests\packages.config" />
  <repository path="..\src\Orc.AutomaticSupport\Orc.AutomaticSupport.NET40\packages.config" />
  <repository path="..\src\Orc.AutomaticSupport\Orc.AutomaticSupport.NET45\packages.config" />
  <repository path="..\src\Orc.AutomaticSupport\packages.config" />
</repositories>